// Specific CSS for your home-page
a {
  color: white;
  &:hover {
    color: aquamarine;
    text-decoration: none;

  }
}

.title {
  margin-left: 20px;
}

h2 {
  text-align: center;
  color: white;
}
